{{template "head" .}}
<article class="post-full">
    <h1>{{.Post.Title}}</h1>
    <div class="post-meta">
        <time datetime="{{.Post.Date}}">{{.Post.Date}}</time>
        {{if .Post.Category}}<a href="/categories/{{.Post.Category.Slug}}" class="category">{{.Post.Category.Name}}</a>{{end}}
    </div>
    {{if .Post.Tags}}
    <div class="post-tags">
        {{range .Post.Tags}}<a href="/tags/{{.Slug}}" class="tag">{{.Name}}</a>{{end}}
    </div>
    {{end}}
    <div class="post-content">
        {{.HTML}}
    </div>
    <p><a href="/" class="back-link">&larr; Back to home</a></p>
</article>
{{template "foot" .}}
