{{template "head" .}}
<div class="columns is-centered">
    <div class="column is-three-fifths">
        <article>
            <div class="mb-5 is-flex is-align-items-center" style="gap:0.5rem" x-data>
                {{if .Post.Category}}
                <a class="tag is-link is-light is-medium" href="/?category={{.Post.Category.Slug}}">{{.Post.Category.Name}}</a>
                {{end}}
                <time class="has-text-grey is-size-7 ml-auto" datetime="{{.Post.Date}}"
                      x-text="new Date($el.getAttribute('datetime')).toLocaleDateString()">{{.Post.Date}}</time>
            </div>
            <h1 class="title is-2 mb-4">{{.Post.Title}}</h1>
            {{if .Post.Tags}}
            <div class="tags mb-5">
                {{range .Post.Tags}}
                <a class="tag is-light" href="/?tags={{.Slug}}">{{.Name}}</a>
                {{end}}
            </div>
            {{end}}
            <div class="content">
                {{.HTML}}
            </div>
            <hr class="mt-6 mb-5">
            <a class="button is-light is-rounded" href="/">&larr; Back to home</a>
        </article>
        {{if .DisqusEnabled}}
        <div id="disqus_thread" class="mt-6"></div>
        <script>
            var disqus_config = function () {
                this.page.url = "{{.CanonicalURL}}";
                this.page.identifier = "{{.Post.Slug}}";
                var t = localStorage.getItem('theme');
                this.page.darkMode = t === 'dark' || (!t && window.matchMedia('(prefers-color-scheme:dark)').matches);
            };
            (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://{{.DisqusShortname}}.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {{end}}
    </div>
</div>
{{template "foot" .}}
